// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.panel-primary
{
  margin-top: 20px;

  .panel-title
  {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: center;

    h2
    {
      font-size: 1.5em;
      display: inline-block;
    }
    .line
    {
      float: right;
      float: top;
      display: inline-block;

      .white
      {
        color: white;
      }
    }
  }

  .panel-body
  {
    background-color: #DDDDDD;

    .line
    {
      float: right;
    }
  }
}
